

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
  background: url(../img/sparkle.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black
  -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

footer p {
  color: black;
  font-size: 1em;
}
hr {
  border-bottom: 1px solid rgba(0,0,0,.0);
  border-top: 1px solid rgba(0,0,0,.1);
}

.quilible {
  background-color: #2CDEA1;
}

.alpha {
  opacity: 0.9;
}
.alpha:hover {
  opacity: 1;
}

h3 {
  color: #2CDEA1;
}

.sized {
  max-width: 720px;
}

.centered {
  margin: 0 auto;
}

#content {
/*  width: 980px;
  width: 95%;    */
  width: auto;
  margin: 0 auto;
}

.box {
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}



.featured {
  width: 620px;
}

.box img {
  width: 300px;
  height: 300px;
}

.featured img {
  width: 620px;
  height: 410px;
}

.pill {
  background-color: rgba(255,255,255,.3);
  border-radius: 10px;
  padding: 10px;
  max-width: 840px;
  min-width: 660px;
}

.trans {
  position:relative;
  height: auto;
  width: 620px;
}

.trans img.top {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.trans img.top:hover {
  opacity: 0;
}

/*   design page images */
.img3 {
  background:url(../img/elaineport/ASE_thumb.png) no-repeat;
}
.img4 {
  background:url(../img/elaineport/bus_card_thumb.jpg) no-repeat;
}
.img5 {
  background:url(../img/elaineport/DVhBanner1_thumb.jpg) no-repeat;
}
.img7 {
  background:url(../img/elaineport/MVpvite_thumb.jpg) no-repeat;
}
.img6 {
  background:url(../img/elaineport/KidsDashboardBanner_thumb.jpg) no-repeat center;
  background-size: 210px 210px;
}
.img8 {
  background:url(../img/elaineport/quilibleIphone_thumb.jpg) no-repeat;
}
.img9 {
  background:url(../img/elaineport/quilibleSmall_thumb.png) no-repeat center center;
}
.img10 {
  background:url(../img/elaineport/Sampleflyer1_thumb.jpg) no-repeat;
}
.img11 {
  background:url(../img/elaineport/sampleflyer2_thumb.jpg) no-repeat;
}
.img12 {
  background:url(../img/elaineport/weddingMenu_thumb.jpg) no-repeat;
}

}
#container {
  min-height:100%;
  position:relative;
  width: 80%;
}
#header {
  padding:10px;
}
#main {
  padding:10px;
  padding-bottom:60px;
  font-family: 'Lato', sans-serif;
}
#footer {
  position:absolute;
  bottom:0;
  left: 10%;
  width:80%;
  height:60px;
}
#helper {
  position: relative;
  text-align: center;
  color: black;
}

.hidden {
  width: 0;
  height: o;
  display: none;
}

input {
  border-radius: 4px !important;
}

textarea {
  border-radius: 4px !important;
}

.navbar {
  font-family: 'Lato', sans-serif;
}
.middleized {
  margin-top: 100px;
}

.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}
